.bg-blue,.bg-primary,.btn-primary,.badge-primary,.alert-primary,.table-primary,.list-group-item-primary,.list-group-item-primary:hover,.list-group-item-primary:focus,.list-group-item-primary.focus,.list-group-item-primary.active,.list-group-item-primary.active:hover,.list-group-item-primary.active:focus,.list-group-item-primary.active.focus,.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.open>.btn-primary.dropdown-toggle,.btn-primary:active,.btn-primary.active,.show>.btn-primary.dropdown-toggle,.btn-primary:active,.btn-primary.active,.btn-primary:active:hover,.btn-primary.active:hover,.show>.btn-primary.dropdown-toggle:hover,.btn-primary:active:focus,.btn-primary.active:focus,.show>.btn-primary.dropdown-toggle:focus,.btn-primary:active:focus,.btn-primary.active:focus,.btn-primary:active:focus,.btn-primary.active:focus,.show>.btn-primary.dropdown-toggle:focus
.btn-outline-primary:hover,.page-item.active .page-link
{
    background-color: #1C64B6 !important;
    color:#fff !important;
}


a,
.sidebar.sidebar-pills .nav-link.active, .sidebar.sidebar-pills .nav-link:hover
{
    color:#1C64B6 !important;
}

.btn-outline-primary{
    border-color:#1C64B6 !important;
}


.navbar-brand{
    color:#fff !important;
}
