.about_col {
    text-align: center;
}

.platform_img {
    max-width: 100%;
}

.appl_scen_img {
    height: 150px;
}


/*Try images for hero section*/
/*.section.section {*/
/*    background-image: url(http://localhost/img/hero_section/andrej-lisakov-9fbZGo_E50I-unsplash.jpg);*/
/*    background-size: cover;*/
/*    background-position: center center;*/
/*}*/

/*Shadow for filters column*/
.custom_shadow {
    box-shadow: 0px 0px 6px #00000029;
}


/*Color for search button*/
.orange_color_btn {
    color: #ffffff;
    background-color: #F4C01E;
}

.filters_color {
    background-color: #A0B63C;
    color: #FFF;
}

.filters_color:hover {
    border-color: #BCD364;
    background-color: #BCD364;
    color: #FFF;
}

/*Make filter dropdown scrollable for big filter arrays*/
.filter_height {
    max-height: 200px;
    overflow-y: auto;
}

.form-check {
    font-size: 0.8rem;
    padding-left: 2em;
    font-weight: 600;
}

.form-check-input {
    margin-top: 0.5em;
}

.form-check-input, .form-check-label {
    cursor: pointer;
}

.form-check-input:checked {
    background-color: #A0B63C;
}

/* Change color on hover */
.form-check:hover {
    background-color: rgba(38, 38, 38, 0.09);
}

/*Set the left border for the cards*/
.dataset_card {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #00000029;
    border-radius: 5px;
    padding: 9px 9px 11px 20px;
    border-left: 6px solid;
}
.dataset_card.fairshare {
    border-left-color: #96c619;
}

.dataset_card.desira {
    border-left-color: #07C19A;
}

.dataset_card.smartakis {
    border-left-color: #27c24c;
}

.dataset_card.dataset {
    border-left-color: #1c64b6;
}

/*Extra padding for pills*/
.badge-primary {
    --bs-badge-padding-x: 0.85em;
    --bs-badge-padding-y: 0.65em;
}

/*Set max height for images of list-items*/
.product .product-thumb-info img {
    max-height: 200px;
}

.mr-1 {
    margin-right: 5px;
}

.mr_2 {
    margin-right: 10px;
}

.ml_2 {
    margin-left: 5px!important;
}

/*Remove background color from theme css*/
.product .product-thumb-info {
    background: unset;
}

.flex_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.selected-link
{
    background-color:#BCD364;
}

.bg-yellow{
    background: var(--unnamed-color-f4c01e) 0% 0% no-repeat padding-box;
    background: #F4C01E 0% 0% no-repeat padding-box;
}

.bg-blue{
    background: var(--unnamed-color-007cc2) 0% 0% no-repeat padding-box;
    background: #007CC2 0% 0% no-repeat padding-box;
}
